<app-navbar></app-navbar>
<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title> {{ 'quiz_app_site_login' | translate }} </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div id="example-container">
        
        <div>
          <mat-form-field style="width:100%">
            <input matInput placeholder="Enter email Or phone " [formControl]="emailOrPhoneValidation"  [(ngModel)]="signin.emailOrMobile" required>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>
        
        <div class="example-container">
          <mat-form-field style="width:100%">
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="passwordValidation" [(ngModel)]="signin.password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        </div>

        <div class="example-container">
                <mat-error *ngIf="!isValid && hasError">{{getErrorMessage()}}</mat-error>
        </div>

      </div>
      <button style="width:100%;" mat-raised-button type="submit" color="primary" (click)="authenticate()" >Sign In</button>  
   

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>