<app-navbar></app-navbar>
<br />

<div class="add-question-container">
    <fieldset class="add-question-fieldset">
        <legend> Add Questions To Question Bank </legend>

        <!-- Question Input -->
        <p class="add-question">
            <mat-form-field appearance="outline">
                <mat-label>Add New Question Here</mat-label>
                <input matInput placeholder="Question to add to Question Bank" [(ngModel)]="question.question">
                <mat-icon matSuffix>question_answerd</mat-icon>
            </mat-form-field>
        </p>

        <div class="option-answer-submit-config-main">
            <!-- Option Settings -->
            <div class="option-settings">
                <mat-form-field appearance="fill">
                    <mat-label>Option Type</mat-label>
                    <mat-select [(value)]="question.optionType" (selectionChange)="optionTypeChange()">
                        <mat-option value="{{ opt.key }}" *ngFor="let opt of optionTypes | keyvalue">{{ opt.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Number Of Options</mat-label>
                    <mat-select [(value)]="question.optionCount" (selectionChange)="optionNumberChange()">
                        <mat-option value="{{ opt.number }}" [(disabled)]="opt.disabled"
                            *ngFor="let opt of optionsArray">{{ opt.number }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p class="option-settings-multipleSelection">
                    <mat-checkbox [(ngModel)]="question.hasMultipleAns" [(disabled)]="hideMultipleOptionCheck" (change)="clearSelectedAnswerOption()">
                        Allow Multiple Selection
                    </mat-checkbox>
                </p>
            </div>

            <!-- Answers Settings-->
            <!-- Answer Panel and Submit Button-->
            <div class="answer-settings">
                <section >
                   
                    <section *ngIf="(question.hasMultipleAns) && (question.options.length > 0)">
                        <mat-label> Mark All Correct Answers : </mat-label>
                        <mat-checkbox (change)="markOptionAsAnswer($event, option, false)" *ngFor="let option of question.options">
                            Option {{ option.num }} 
                        </mat-checkbox>
                    </section>

                    <mat-radio-group  *ngIf="(!question.hasMultipleAns) && (question.options.length > 0) " >
                        <mat-label> Mark Correct Answer : </mat-label>
                        <mat-radio-button value="{{ option.num }}" (change)="markOptionAsAnswer($event, option, true)"
                            *ngFor="let option of question.options"> Option {{ option.num }}
                        </mat-radio-button>
                    </mat-radio-group>

                </section>
                <p>
                   
                    <mat-form-field apearance="fill">
                        <mat-label>Select Time Unit</mat-label>
                        <mat-select [(value)]="question.timeUnitValue"  >
                            <mat-option value="{{ timeValue.value }}" *ngFor="let timeValue of timeUnitValue | keyvalue" >
                                {{ timeValue.key }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Expected Time To Answer</mat-label>
                        <input matInput placeholder="Expected Time To Answer Question"
                            [(ngModel)]="question.expectedTimeToAnswer">
                        <mat-icon matSuffix>watch_later</mat-icon>
                    </mat-form-field>

                </p>
            </div>


            <!-- Dynamic Options -->
            <div class="add-options">
                <mat-form-field appearance="outline" *ngFor="let option of question.options">
                    <mat-label>Add Option {{ option.num }} For Question</mat-label>
                    <textarea matInput placeholder="Option {{ option.num }} value here"
                        [(ngModel)]="option.value"></textarea>
                    <mat-icon>receipt</mat-icon>
                </mat-form-field>
            </div>
        </div>

        <p class="submit-button-paragraph">       
        <button class="submit-question-btn-grad" mat-raised-button type="submit"
        (click)="addOrUpdateQuestionToQuestionBank()"> Submit Question </button>
        </p>
    </fieldset>
</div>